:root {
    --green-100: #e8f5e9;
    --green-150: #ebffec;
    --green-200: #c8e6c9;
    --green-400: #81c784;

    --body-bg: var(--green-100);
    --navbar-bg: var(--green-400);
}

/* general */
body {
    font-family: "Roboto";
    background-color: var(--body-bg)
}


@media (max-width: 575.98px) {
    .header,
    .main-sections
    {
        max-width: 95%;
    }
}

.main-sections {
    border-radius: 1rem;
    background-color: var(--green-150);
}

#about, #parameters, #scheme, #contacts {
    scroll-margin-top: 90px;
}

@media (max-width: 402px) {
    .navbar-title {
        display: none;
    }
}

/* animation */

@keyframes img-scale {
    from {
        transform: translate(0);
        transform: scale(1);
    }
    to {
        transform: translate(0.025rem);
        transform: scale(1.025);
    }
}




/* navbar */
.navbar {
    background-color: var(--navbar-bg);
}


.navbar-nav .nav-link:hover {
    color: rgb(82, 82, 82) !important;
}

/* header */

.hero-section {
    margin-top: 6rem;
}

.header {
    background-color: var(--navbar-bg);
    border-radius: 1rem;
    text-align: center;
    color: white;
    padding: 3rem 3rem;
}

.header h1 {
    overflow-wrap: break-word;
}

/* main */

/* about section */

#about img:hover {
    animation: img-scale 1s forwards;
}

@media (min-width: 992px) {
    .img-l {
        margin: 0 auto;
        height: 550px;
    }
}


@media (min-width: 1200px) {
    .img-xl {
        margin: 0 auto;
        height: 460px;
    }
}

@media (min-width: 1400px) {
    .img-xxl {
        margin: 0 auto;
        height: 415px;
    }
}

/* parameters section */

#parameters table {
    word-break: break-word;
}


/* scheme section */
.scheme-img {
    max-height: 700px;
    display: block;
    margin: 0 auto;
}

.scheme-img:active {
    transform: scale(1.125);
}


/* footer */

/* cards */

.card-header {
    background-color: var(--green-200);
}

.card-body {
    background-color: var(--green-100);
}

.card-link {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}

.card-link:hover {
    color: rgb(0, 0, 0) !important;
}

.card-link span {
    transition: color 0.05s;
}

.card-link span:hover {
    color: rgb(42, 56, 255);
}